@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.content-body {
  display: flex;
  align-content: center;
  justify-content: center;
}
.wrap-content {
  max-width: 1000px;
}
.footer-item {
  padding: 5%;
}
.description {
  margin: 55px 15px;
}
.image-section {
  margin: 25px;
  position: relative;
}
.btn-cart {
  background-color: black;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
  width: 100%;
  padding: 5% 10%;
  margin-bottom: 5px;
}

.btn-wish {
  background-color: white;
  color: black;
  font-size: 0.6rem;
  width: 100%;
  font-weight: bold;
  padding: 5% 10%;
}

.desc-title {
  font-family: "Abril Fatface", cursive;
  padding-bottom: 10px;
  font-size: 2rem;
}
.desc-sub {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
}
.desc-cont {
  max-width: 65%;
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
  font-weight: 500;
  transform: scaleY(0.9);
  font-size: 0.8rem;
}

.desc-rev {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  transform: scaleY(0.9);
}
.desc-price {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 20px 0px;
  font-size: 1.5rem;
}
.desc-stat {
  padding: 5px 0px;
  margin: 0px;
  padding-left: 5px;
  font-size: 0.8rem;
}
.btm-img {
  max-width: 100%;
  max-height: 100px;
}

.main-image {
  margin: 10px;
  max-width: 96%;
}

.ftr-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  padding-top: 7px;
}

.ftr-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  line-height: 15px;
}

.prev {
  position: absolute;
  top: 40%;
  left: 4%;
  background-color: white;
  border-radius: 50%;
}
.next {
  position: absolute;
  top: 40%;
  right: 4%;
  background-color: white;
  border-radius: 50%;
}
